body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#container {

    width: 450px;
    background-color: #f0f0f0;
    padding: 30px;
    background-color: #1e70ec;
    border-radius: 5px;
    box-shadow:  -1px 0px 5px #588ad4;
    animation: slideIn 2.5s ;
}


@keyframes slideIn {
    from {
        transform: translateY(-500px);
        /* opacity: 0; */
    }

    to {
        transform: translateY(0);
        /* opacity: 1; */
    }
}

.age-calculator {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 7px;
    background-color: black;
}

#dob {
    width: 50%;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid transparent;
}
#dob:focus{
    outline: none;
}

#calculateBtn {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid transparent;
}

.birth-date {
    width: 85%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#year-container {
    background-color: black;
    width: 20%;
    height: 70px;
    padding-bottom: 2px;
    border-radius: 7px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#month-container {
    width: 20%;
    height: 70px;
    padding-bottom: 2px;
    background-color: black;
    color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#day-container {
    width: 20%;
    height: 70px;
    padding-bottom: 2px;
    background-color: black;
    color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: 6px 0;
    font-size: 18px;
}

span {
    color: gray;
}
#birthday-vedio {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    display: none;
}
.reset-button{
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 45px;
    background-color: black;
    color: #f0f0f0;
    border: 1px solid black;
    border-radius: 7px;
    cursor: pointer;
    font-size: 17px;

}
.video-reset-btn {
    z-index: 100;
    width: 120px;
    height: 45px;
    position: absolute;
    top: 80%;
    background-color: #1e70ec;
    color: #f0f0f0;
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer;
    font-size: 17px;
}
 a{
    color: white;
    text-decoration: none;
}
.video-reset-btn:hover{
    transform: scale(1.1);
    transition: all 0.4s ease;
    
}
@media(max-width: 530px){
    .age-calculator{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    #dob{
        width: 85%;
    }
    #calculateBtn{
        width: 40%;
        height: 40px; 
    }
    .birth-date{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        gap: 15px;
    }
    #year-container{
        width: 80%;
        height: 60px;
    }
    #month-container{
        width: 80%;
        height: 60px;
    }
    #day-container{
        width: 80%;
        height: 60px;
    }
}